* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-height: 100vh; 
}

.button_sec > a {
    text-decoration: none;
}

.back_home{
    margin: 20px;
    color: white;
    font-size: 20px;
    background-color: rgb(104, 42, 42);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0;
}

header h1 {
    font-size: 2.5rem;
    color: rgb(104, 42, 42);
    text-align: center;
}

header p {
    font-size: 1.1rem;
    color: #555;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.seats_view {
    margin-bottom: 50px;
    font-weight: 800;
    text-align: center;
}

section {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.sala {
    width: 100%;
    background-color: rgb(35, 35, 70);
    padding: 40px;
    border-radius: 50px;
}

#sala_cinema {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.seat{
    margin: 5px 5px;
    width: 70px;
    background-color: rgba(216, 216, 252, 0.135);
    padding: 10px;
}

.seat:hover {
    background-color: #fff;
}

.demo,
.demo2 {
    font-size: 1.3rem;
    color: #444;
}

.modal_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.prenotazione_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prenotazione_content > form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.prenotazione_content > div {
    margin-bottom: 20px;
    width: 100%;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.last_section_modal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

label {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 5px;
}

input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="email"],
input[type="tel"] {
    font-family: Arial, sans-serif;
}

input:focus {
    border-color: rgba(66, 66, 98, 0.737);
    outline: none;
}

button {
    background-color: #a73b28;
    color: #fff;
    font-size: 1.2rem;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
}

button:hover {
    background-color: rgba(66, 66, 98, 0.737);
    transform: scale(1.05);
}

button:active {
    background-color: #a73b28;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .modal-content {
        width: 90%;
        padding: 20px;
    }

    button {
        font-size: 1rem;
    }

    input {
        font-size: 0.9rem;
        padding: 10px;
    }

    .prenotazione_content {
        width: 100%;
    }

    #sala_cinema {
        padding: 10px;
    }

    .sala {
        
        padding: 10px;
    }

    .seat {
        width: 50px;
    }
}